@{
    ViewData["Title"] = "Home Page";
}

@section scriptcss {
     <!-- CSS includes //-->
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="~/biss/css/normalize.css" type="text/css">
<link rel="stylesheet" href="~/biss/css/colorbox-skins/4/colorbox.css" type="text/css">
<link rel="stylesheet" href="~/biss/css/animate.css" type="text/css">
<link rel="stylesheet" href="~/biss/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="~/biss/css/font-awesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="~/biss/css/colorbox-skins/4/colorbox.css" type="text/css">
<link rel="stylesheet" href="~/biss/css/helpers.css" type="text/css">
<link rel="stylesheet" href="~/biss/css/component.css" type="text/css">

<!-- LayerSlider styles -->
<link rel="stylesheet" href="~/biss/css/layerslider/css/layerslider.css" type="text/css">

<link rel="stylesheet" href="~/biss/css/colors/1.css" type="text/css" id="site-color">
<link rel="stylesheet" href="~/biss/css/settings.css" type="text/css">

<!-- JS includes //-->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries //-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="~/biss/js/twitterFetcher_min.js"></script>
}

@section Scripts {

    <!-- JS includes //-->
<script src="~/biss/js/vendor/jquery-1.11.1.min.js"></script>
<script src="~/biss/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="~/biss/js/vendor/bootstrap.min.js"></script>
<script src="~/biss/js/imagesloaded.pkgd.min.js"></script>
<script src="~/biss/js/masonry.pkgd.min.js"></script>
<script src="~/biss/js/less-1.7.4.min.js"></script>
<script src="~/biss/js/jquery.colorbox-min.js"></script>
<script src="~/biss/js/jquery.easing.1.3.js"></script>
<script src="~/biss/js/jquery.rivathemes.js"></script>
<script src="~/biss/js/layerslider/jquery-easing-1.3.js" type="text/javascript"></script>
<script src="~/biss/js/layerslider/jquery-transit-modified.js" type="text/javascript"></script>
<script src="~/biss/js/layerslider/layerslider.transitions.js" type="text/javascript"></script>
<script src="~/biss/js/layerslider/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<script src="~/biss/js/biss.js"></script>

    <script>
        (function ($) {
            "use strict";

            //
            // Preload images
            //

            $('document').ready(function () {

                var $container = $('body'),
                    tweetsTimer;

                $container.imagesLoaded(function () {

                    $('#layerslider').layerSlider({
                        skinsPath: 'biss/css/layerslider/skins/',
                        skin: 'fullwidth',
                        firstLayer: 2,
                        thumbnailNavigation: 'hover',
                        hoverPrevNext: true,
                        responsive: true,
                        responsiveUnder: 1170,
                        sublayerContainer: 1170
                    });

                    $('#logo-group').rivaLogoGroup({
                        selector: 'logo-group-item',
                        padding: 40,
                        row: 3
                    });

                    $('#testimonials').rivaCarousel({
                        style: 'horizontal',
                        navigation: 'buttons',
                        navigation_class: 'width-auto float-left nav-st-3',
                        button_left_text: '<i class="fa fa-chevron-left"></i>',
                        button_right_text: '<i class="fa fa-chevron-right"></i>',
                        visible: 2,
                        selector: 'testimonials-1-item',
                        gutter: 20,
                        infinite: 0,
                        interval: 2000,
                        autostart: 0,
                        speed: 600,
                        ease: 'jswing'
                    });

                    //$('#company-events').rivaCarousel({
                    //    style: 'horizontal',
                    //    navigation: 'buttons',
                    //    navigation_class: 'width-auto float-left nav-st-2',
                    //    button_left_text: '<i class="fa fa-chevron-left"></i>',
                    //    button_right_text: '<i class="fa fa-chevron-right"></i>',
                    //    visible: 1,
                    //    selector: 'item',
                    //    gutter: 20,
                    //    infinite: 0,
                    //    interval: 2000,
                    //    autostart: 0,
                    //    speed: 600,
                    //    ease: 'easeInQuad'
                    //});

                    $('#project-sorting').rivaSorting({
                        selector: 'project-item',
                        gutter: 0,
                        inRow: 3
                    });

                    $('#spinner-wrapper').hide();

                });

                clearTimeout(tweetsTimer);

            });

        })(jQuery);
    </script>

}


<!-- Layerslider start //-->

<section class="padding-top-0 padding-bottom-0">

    <div id="layerslider" class="width-100 float-left layer-slider">

        <div class="ls-layer" style="transition3d: 3,9,18;">

            <img class="ls-bg" src="~/biss/img/layerslider/1/showcase.png" alt="layer1-background">

            @*<div class="ls-s2 slide-description" style="top: 50px; left: 75px; slidedirection: fade; scalein: 2; transition2d: all; slidedelay: 6000; delayin: 1000; delayout: 1000; durationin: 1000; easingin: easeOutExpo;">

                <p class="subtitle">Fusce non massa vel ex sagittis commodo</p>

                <div class="cl"></div>

                <p class="title">Straw Stormy Emerald</p>

                <p class="description">Integer in volutpat nulla. Nullam imperdiet justo arcu. Donec facilisis tempor augue, eu sagittis orci consequat et. Phasellus lacinia fringilla lorem, in gravida dolor molestie eu. Nam et tristique nibh, ac malesuada diam. Nullam magna nulla, sodales eu quam finibus, facilisis lacinia est.</p>

                <p><a href="#" class="biss-btn biss-btn-border-primary">discover more</a>

            </div>*@

            @*<img class="ls-s1" src="~/biss/img/layerslider/1/img-1.png" alt="" style="top: 0px; left: 600px; transition2d: all; slidedelay: 6000; durationin: 1000; easingin: easeOutExpo;">*@

        </div>

        @*<div class="ls-layer" style="transition3d: 1,5,15;">

            <img class="ls-bg" src="~/biss/img/layerslider/1/bg.jpg" alt="layer1-background">

            <div class="ls-s2 slide-description align-right" style="top: 50px; left: 350px; slidedirection: fade; scalein: 2; transition2d: all; slidedelay: 6000; durationin: 1000; delayin: 1000; delayout: 1000; easingin: easeOutExpo;">

                <p class="subtitle">Sed at posuere ex</p>

                <div class="cl"></div>

                <p class="title">Forsaken Rusty Tea</p>

                <p class="description">Suspendisse blandit nisl nec ante posuere fringilla. Morbi mattis ipsum et dictum aliquet. Cras sapien turpis, posuere sed risus sed, imperdiet consequat tortor. Vivamus gravida consectetur sapien, ac porttitor leo bibendum sit amet. Phasellus eget feugiat ex.</p>

                <p><a href="#" class="biss-btn biss-btn-border-primary">discover more</a>

            </div>

            <img class="ls-s1" src="~/biss/img/layerslider/1/img-2.png" alt="" style="top: 0px; left: 30px; transition2d: all; slidedelay: 6000; durationin: 1000; easingin: easeOutExpo;">

        </div>*@

    </div>

</section>

<!-- Layerslider end //-->
<!-- Action start //-->

<section>

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="action-block-1">

                    <div class="width-66 float-left">

                        <p class="h">Choisissez <span class="primary-color">FACEBOOK</span><i style="color:#475061">PUB</i> </p>
                        

                        <p style="font-size:medium;">Automatisez la gestion de vos publicités, Programmez la diffusion de vos campagnes publicitaires dans les groupes ou sur votre page facebook et bien d'autres fonctionnalités encore...<p>

                    </div>

                    <div class="width-33 float-right">

                        <a asp-controller="Home" asp-action="Pricing" class="biss-btn biss-btn-primary width-50 float-left sm-width-100 md-width-100">acheter maintenant!</a>

                        <a asp-controller="Home" asp-action="Pricing" class="biss-btn biss-btn-secondary width-50 float-right sm-width-100 md-width-100">Plus...</a>

</div>

                </div>

            </div>

        </div>

    </div>

</section>

<!-- Action end //-->
<!-- Services #1 start //-->

@*<section class="transparent-bg-secondary bg-img bg-img-1 padding-bottom-30">

    <div class="container">

        <div class="row">

            <!-- Services #1 item start //-->

            <div class="col-lg-4 col-md-4">

                <article class="services-1">

                    <span class="icon"><i class="fa fa-bank"></i></span>

                    <div class="inner">

                        <!-- Service title //-->

                        <p class="h">Gloomy Trombone</p>

                        <!-- Service description //-->

                        <p>Donec lorem leo, eleifend in lacus sed, malesuada blandit mauris.</p>

                        <!-- Service button //-->

                        <p class="b"><a href="#" class="biss-btn biss-btn-border-primary">more</a></p>

                    </div>

                    <div class="color-bg"></div>

                </article>

            </div>

            <!-- Services #1 item end //-->
            <!-- Services #2 item start //-->

            <div class="col-lg-4 col-md-4">

                <article class="services-1">

                    <span class="icon"><i class="fa fa-cubes"></i></span>

                    <div class="inner">

                        <!-- Service title //-->

                        <p class="h">Temporary Hurricane</p>

                        <!-- Service description //-->

                        <p>Aenean placerat nibh vitae metus aliquet commodo. </p>

                        <!-- Service button //-->

                        <p class="b"><a href="#" class="biss-btn biss-btn-border-primary">more</a></p>

                    </div>

                    <div class="color-bg"></div>

                </article>

            </div>

            <!-- Services #2 item end //-->
            <!-- Services #3 item start //-->

            <div class="col-lg-4 col-md-4">

                <article class="services-1">

                    <span class="icon"><i class="fa fa-empire"></i></span>

                    <div class="inner">

                        <!-- Service title //-->

                        <p class="h">Tainted Fox</p>

                        <!-- Service description //-->

                        <p>Morbi eleifend neque et scelerisque convallis ultricies ex tincidunt. </p>

                        <!-- Service button //-->

                        <p class="b"><a href="#" class="biss-btn biss-btn-border-primary">more</a></p>

                    </div>

                    <div class="color-bg"></div>

                </article>

            </div>

            <!-- Services #3 item end //-->

        </div>

    </div>

</section>*@

<!-- Services #1 end //-->
<!-- Fields of expertise start //-->

<section class="secondary-bg-lighten">

    <div class="container">

        <div class="row">

            <div class="col-lg-7">

                @*<p class="section-subtitle">our fields of</p>*@

                <h2 class="section-title">DESCRIPTION</h2>

                @*<ul class="style-1">

                    <li><i class="fa fa-arrow-circle-right primary-color"></i> Suspendisse ultrices hendrerit elit et sodales.</li>

                    <li><i class="fa fa-arrow-circle-right primary-color"></i> Morbi nec enim eleifend, dictum purus in, dapibus justo. </li>

                    <li><i class="fa fa-arrow-circle-right primary-color"></i> Donec tincidunt, massa id vestibulum consequat, ligula nibh laoreet nunc.</li>

                    <li><i class="fa fa-arrow-circle-right primary-color"></i> Nam tellus ante, semper at porta vitae, facilisis eu nulla.</li>

                    <li><i class="fa fa-arrow-circle-right primary-color"></i> Curabitur aliquet sem neque, et consectetur lectus rutrum vel.</li>

                    <li><i class="fa fa-arrow-circle-right primary-color"></i>  Proin non mi in ex semper venenatis ac eget tortor. Aenean accumsan nisl felis, vitae vehicula turpis tempus vel.</li>

                </ul>*@


                <p style="font-size:medium;">
                    <b class="section-subtitle">FACEBOOK<i style="color:#475061;">PUB</i></b> est un outil facile d'utilisation,
                    conçu pour aider les utilisateurs à :
                </p>
                <ul class="style-1" style="font-size:medium;">
                <li><i class="fa fa-arrow-circle-right primary-color"></i> poster des messages de masse privés sur facebook</li>
                    <li>
                        <i class="fa fa-arrow-circle-right primary-color"></i> publier dans les groupes</li>
                    <li>
                        <i class="fa fa-arrow-circle-right primary-color"></i> publier sur les murs de vos amis et fans
                    </li>
                    <li>
                        <i class="fa fa-arrow-circle-right primary-color"></i> publier sur les pages publiques
                    </li>
                    <li>
                        <i class="fa fa-arrow-circle-right primary-color"></i> rechercher et commenter des publications
                    </li>
                    <li>
                        <i class="fa fa-arrow-circle-right primary-color"></i> programmer automatiquement des publications
                    </li>

     

</ul>
                <p style="font-size:medium;">
                    Son principal atout est qu'il vous permet de faire la publicité et de générer du trafic vers votre site web.<br />
                    Vous pouvez obtenir des centaines de milliers de visiteurs par jour Facebook SANS CLICK.
                </p>
            </div>

            <div class="col-lg-5">

                <img src="~/biss/img/mockup-1.png" alt="" class="float-left md-margin-top-50 sm-margin-top-50">

            </div>

        </div>

    </div>

</section>

<!-- Fields of expertise end //-->
<!-- Stats start //-->

@*<section class="align-center transparent-bg-secondary bg-img bg-img-2 padding-bottom-30">*@

    @*<div class="container">

        <div class="row">

            <div class="col-lg-12">

                <p class="section-subtitle">just a little of some</p>

                <h2 class="section-title margin-bottom-40">stats</h2>

            </div>

            <!-- Stats item #1 start //-->

            <div class="col-lg-3 col-md-6">

                <div class="stats-item white">

                    <span class="value">20</span>

                    <span class="description">average response time</span>

                </div>

            </div>

            <!-- Stats item #1 end //-->
            <!-- Stats item #2 start //-->

            <div class="col-lg-3 col-md-6">

                <div class="stats-item white">

                    <span class="value">7.5</span>

                    <span class="description">years of industry experience</span>

                </div>

            </div>

            <!-- Stats item #2 end //-->
            <!-- Stats item #3 start //-->

            <div class="col-lg-3 col-md-6">

                <div class="stats-item white">

                    <span class="value">24</span>

                    <span class="description">time zones covered</span>

                </div>

            </div>

            <!-- Stats item #3 end //-->
            <!-- Stats item #4 start //-->

            <div class="col-lg-3 col-md-6">

                <div class="stats-item white">

                    <span class="value">78%</span>

                    <span class="description">stuff degreed in accounting</span>

                </div>

            </div>

            <!-- Stats item #4 end //-->

        </div>

    </div>*@

@*</section>*@

<!-- Stats end //-->



<!-- Action start //-->

<section class="secondary-bg-lighten">

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <div class="action-block-2">

                    @*<p>Do you like how it looks?</p>*@

                    <p class="main">Demarrez votre <i>campagne publicitaire</i> avec <span class="primary-color">facebook</span><i>pub</i></p>

                    <p><a asp-controller="Home" asp-action="Pricing" class="biss-btn biss-btn-border-primary">Acheter Maintenant!</a></p>
                </div>

            </div>

        </div>

    </div>

</section>

<!-- Action end //-->
